
  
  body {
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    line-height: 1.6;
    background: #ddd;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 25s infinite;
    /* background: rgb(4,21,45); */
    background: rgb(128,0,128);
    background: linear-gradient(35deg, rgba(128,0,128,1) 15%, rgba(4,21,45,1) 42%);
   
  }
  @keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }